* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #100731;
  color: white;
}
header {
  background-color: #246770;
  display: flex;
  justify-content: center;
}

.header-contents {
  width: 70%;
  padding: 10px;
}

#content {
  width: 50%;
  padding: 10px;
  padding-left: 200px;
}

#items h4 {
  font-size: 30px;
}
#items .list-item {
  font-size: 20px;
}
form input {
  padding: 7px 30px;
  border-radius: 7px;
  margin-top: 20px;
}
button {
  padding: 10px 20px;
  background-color: #6ebeff;
}

div#content h4 {
  border-bottom: 2px solid green;
  padding: 0px 20px 10px 5px;
  display: inline-block;
  width: 20%;
  margin: 20px 0;
}
